.hero {
  .hero-wrapper {
    position: relative;
  }
  .hero-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    h1,
    h3 {
      color: $neutral;
    }
    h1 {
      padding-bottom: $spacing-m;
    }
    h3 {
      margin-bottom: $spacing-3xl;
    }
  }
  @media (min-width: 768px) {
    .display-2 {
      font-size: $spacing-5xl;
    }
    .fs-5 {
      font-size: 28px;
    }
  }
}

.new-arrival {
  margin: $spacing-2xl auto;
  .section-title {
    text-align: center;
    margin-bottom: $spacing-l;
    .en-title {
      padding-bottom: $spacing-xs;
    }
  }
  .product-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: $spacing-l;
    .product-card {
      width: 49%;
      max-width: 636px;
      img {
        margin-bottom: $spacing-xs;
      }
      a {
        color: $neutral-900;
      }
      .card-title {
        padding-bottom: 0px;
      }
    }
  }
  @media (min-width: 768px) {
    margin: $spacing-5xl auto;
    .section-title {
      margin-bottom: $spacing-xl;
      .en-title {
        padding-bottom: $spacing-s;
      }
      .fs-2 {
        font-size: $spacing-3xl;
      }
      .fs-4 {
        font-size: $spacing-xl;
      }
    }
    .product-card-group {
      row-gap: $spacing-2xl;
      .product-card {
        width: 49%;
        max-width: 636px;
        img {
          margin-bottom: $spacing-s;
        }
        .card-title {
          padding-bottom: $spacing-xxs;
        }
        .fs-6 {
          font-size: 20px;
        }
      }
    }
  }
}

.best-seller {
  padding: $spacing-2xl 0px;
  .section-title {
    margin-bottom: $spacing-m;
  }
  .carousel {
    display: flex;
    gap: $spacing-l;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 16px;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .card {
    flex: 0 0 100%;
    max-width: 300px;
    scroll-snap-align: start;
    position: relative;
    .label-sm {
      color: $primary-400;
      background-color: $primary-100;
      padding: $spacing-xs $spacing-s;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  @media (min-width: 768px) {
    padding: $spacing-5xl 0px;
    .section-title {
      .fs-4 {
        font-size: $spacing-xl;
      }
    }
    .carousel {
      .card {
        max-width: 306px;
      }
    }
  }
}
