.hero {
  .hero-wrapper {
    position: relative;
  }
  .hero-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    h1,
    h3 {
      color: $neutral;
    }
    h1 {
      padding-bottom: $spacing-m;
    }
    h3 {
      margin-bottom: $spacing-3xl;
    }
  }
  @media (min-width: 768px) {
    .display-2 {
      font-size: $spacing-5xl;
    }
    .fs-5 {
      font-size: 28px;
    }
  }
}

.new-arrival {
  margin: $spacing-2xl auto;
  .section-title {
    text-align: center;
    margin-bottom: $spacing-l;
    .en-title {
      padding-bottom: $spacing-xs;
    }
  }
  .product-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: $spacing-l;
    .product-card {
      width: 49%;
      max-width: 636px;
      img {
        margin-bottom: $spacing-xs;
      }
      a {
        color: $neutral-900;
      }
      .card-title {
        padding-bottom: 0px;
      }
    }
  }
  @media (min-width: 768px) {
    margin: $spacing-5xl auto;
    .section-title {
      margin-bottom: $spacing-xl;
      .en-title {
        padding-bottom: $spacing-s;
      }
      .fs-2 {
        font-size: $spacing-3xl;
      }
      .fs-4 {
        font-size: $spacing-xl;
      }
    }
    .product-card-group {
      row-gap: $spacing-2xl;
      .product-card {
        width: 49%;
        max-width: 636px;
        img {
          margin-bottom: $spacing-s;
        }
        .card-title {
          padding-bottom: $spacing-xxs;
        }
        .fs-6 {
          font-size: 20px;
        }
      }
    }
  }
}

.best-seller {
  padding: $spacing-2xl 0px;
  .section-title {
    margin-bottom: $spacing-m;
  }
  .carousel {
    display: flex;
    gap: $spacing-l;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 16px;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .card {
    flex: 0 0 100%;
    max-width: 300px;
    scroll-snap-align: start;
    position: relative;
    .label-sm {
      color: $primary-400;
      background-color: $primary-100;
      padding: $spacing-xs $spacing-s;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  @media (min-width: 768px) {
    padding: $spacing-5xl 0px;
    .section-title {
      .fs-4 {
        font-size: $spacing-xl;
      }
    }
    .carousel {
      .card {
        max-width: 306px;
      }
    }
  }
}

.sale {
  text-align: center;
  margin: $spacing-l auto;
  background-image: url(/assets/banner-co-branded-sm.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: $spacing-5xl 0px;
  .sale-wrapper {
    height: 100%;
    .sale-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: fit-content;
      margin: 0 auto;

      &::before {
        content: "";
        position: absolute;
        left: -74px;
        top: -28px;
        width: $spacing-3xl;
        height: $spacing-3xl;
        background-image: url(/assets/star.svg);
        background-size: cover;
        overflow: hidden;
      }

      &::after {
        content: "";
        position: absolute;
        right: -80px;
        bottom: 40px;
        width: 76px;
        height: 64px;
        background-image: url(/assets/sparkle.svg);
        background-size: cover;
        overflow: hidden;
      }
    }
  }
  .section-title {
    margin-bottom: $spacing-l;
    .fs-2 {
      color: $neutral;
      margin-bottom: $spacing-m;
      display: flex;
      flex-direction: column;
      gap: $spacing-xs;
      .fs-3 {
        color: $primary-300;
      }
    }
    .fs-5 {
      color: $neutral;
    }
  }
  .paragraph-wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-xxs;
    margin-bottom: $spacing-xl;
    .paragraph-md {
      color: $neutral-500;
      span {
        display: none;
      }
    }
  }
  @media (min-width: 768px) {
    margin: $spacing-3xl auto;
    padding: 100px 0px;
    background-image: url(/assets/banner-co-branded.png);
    aspect-ratio: 320/81;
    .sale-content {
      &::before {
        left: -70px;
        top: -28px;
      }
      &::after {
        right: -40px;
        bottom: 32px;
      }
    }
    .section-title {
      margin-bottom: $spacing-xl;
      .fs-2 {
        flex-direction: row;
        gap: $spacing-l;
        font-size: $spacing-3xl;
        .fs-3 {
          color: $primary-300;
          font-size: $spacing-3xl;
        }
      }
      .fs-5 {
        color: $neutral;
        font-size: $spacing-xl;
      }
    }
    .paragraph-wrapper {
      flex-direction: row;
      gap: 0px;
      margin-bottom: $spacing-3xl;
      .paragraph-md {
        font-size: 20px;
      }
    }
  }
}
