.product-detail-page {
  .product-info {
    padding-top: 0px;
    padding-bottom: 0px;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(12, 1fr);
    gap: $spacing-l;
    .product-images {
      grid-column: span 12;
      display: flex;
      flex-wrap: nowrap;
      gap: $spacing-xs;
      margin-left: -12px;
      margin-right: -12px;
      overflow-x: scroll;
      .image-wrapper {
        width: 100%;
        min-width: 375px;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }
    .product-content {
      grid-column: span 12;
    }
    .product-intro {
      display: flex;
      flex-direction: column;
      gap: $spacing-s;
      .breadcrumb {
        display: flex;
        padding-bottom: $spacing-xs;
        .breadcrumb-item + .breadcrumb-item::before {
          content: "/";
          padding: 0 $spacing-m;
          color: $neutral-300;
        }
        .breadcrumb-item a {
          color: $neutral-600;
        }
        .breadcrumb-item a:hover {
          text-decoration: underline;
        }
        .breadcrumb-item.active {
          color: $neutral-900;
        }
      }
      .product-price {
        display: flex;
        align-items: flex-end;
        gap: $spacing-xs;
        .fs-6 {
          color: $primary-400;
        }
        del {
          color: $neutral-500;
        }
      }
      .intro-text p + p {
        padding-top: $spacing-s;
      }
    }
    .product-spec-cta {
      padding: $spacing-xl 0px;
    }
    .product-form {
      display: flex;
      flex-direction: column;
      gap: $spacing-l;
    }
    .spec {
      display: flex;
      flex-direction: column;
      gap: $spacing-l;
    }
    .option-title {
      padding-bottom: $spacing-xs;
    }
    .colors-list {
      display: flex;
      gap: $spacing-xs;
      text-align: center;
      color: $neutral-600;
      img {
        width: $spacing-5xl;
        -webkit-user-drag: none;
      }
      input:hover + label {
        img {
          opacity: 0.8;
        }
      }
      input:checked + label {
        img {
          border: 1px solid $neutral-900;
        }
        span {
          color: $neutral-900;
        }
      }
      input:disabled + label {
        cursor: not-allowed;
        img {
          opacity: 0.4;
        }
        span {
          color: $neutral-500;
        }
      }
    }
    .size-list {
      display: flex;
      flex-wrap: wrap;
      gap: $spacing-xs;
      label {
        display: flex;
        gap: 0;
        white-space: nowrap;
      }
      input:hover + label {
        border: 1px solid $neutral-600;
      }
      input:checked + label {
        border: 1px solid $neutral-900;
      }
      input:disabled + label {
        cursor: not-allowed;
        border: 1px solid $neutral-300;
        span {
          color: $neutral-500;
        }
      }
      & + .stock-alert {
        padding-top: $spacing-xs;
      }
    }
    .stock-alert {
      color: $danger-300;
    }
    .cta {
      display: flex;
      gap: $spacing-xs;
      .btn {
        width: 100%;
      }
      .btn-outlined:active {
        color: $neutral-900;
        background-color: $neutral;
        border: 1px solid $neutral-900;
        .bi-heart::before {
          content: "\f415";
        }
      }
      .icon-btn-primary {
        &:hover {
          color: $neutral-900;
        }
        &:focus {
          background-color: transparent;
        }
      }
      .icon-btn-primary:active {
        .bi-heart::before {
          content: "\f415";
        }
      }
      .only-mobile {
        display: inline-flex;
      }
      .only-desktop {
        display: none;
      }
    }

    .details-list {
      .details-item {
        padding: $spacing-s 0px;
        border-bottom: 1px solid $neutral-300;
      }
      .details-title {
        padding-bottom: $spacing-xxs;
      }
      .details-text {
        color: $neutral-600;
      }
    }
    @media (min-width: 992px) {
      padding-top: $spacing-5xl;
      padding-bottom: $spacing-5xl;
      .product-images {
        grid-column: span 7;
      }
      .product-content {
        grid-column: span 5;
      }
    }
    @media (min-width: 768px) {
      .product-images {
        margin-left: 0px;
        margin-right: 0px;
        flex-wrap: wrap;
        justify-content: center;
        overflow-x: unset;
        .image-wrapper {
          width: 49%;
          min-width: unset;
        }
      }
      .product-intro {
        gap: $spacing-m;
        .breadcrumb {
          padding-bottom: $spacing-s;
        }
        .fs-4 {
          font-size: $spacing-xl;
        }
      }
      .product-price {
        .fs-6 {
          font-size: 20px;
        }
      }
      .product-form {
        gap: $spacing-3xl;
      }
      .spec {
        gap: $spacing-xl;
      }
      .cta {
        .only-mobile {
          display: none;
        }
        .only-desktop {
          display: inline-flex;
        }
      }
    }
  }

  .best-seller {
    padding-top: $spacing-2xl;
    padding-bottom: $spacing-2xl;
    .section-title {
      margin-bottom: $spacing-m;
    }
    .carousel {
      display: flex;
      gap: $spacing-l;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
    }
    .card {
      flex: 0 0 100%;
      max-width: 300px;
      scroll-snap-align: start;
      position: relative;
      img {
        -webkit-user-drag: none; /* 禁止預設圖片拖曳 */
        margin-bottom: $spacing-s;
      }
      .card-title {
        margin-bottom: $spacing-xxs;
      }
    }

    @media (min-width: 768px) {
      padding-top: $spacing-3xl;
      padding-bottom: $spacing-3xl;
      .section-title {
        .fs-5 {
          font-size: $spacing-l;
        }
      }
      .carousel {
        .card {
          max-width: 306px;
        }
      }
    }
  }
}
