header {
  a {
    color: $neutral-900;
  }
  .icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 24px;
    }
  }
  .navbar-desktop {
    display: none;
  }
  .navbar-mobile {
    display: flex;
    flex-direction: column;
    .mobile-topbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $spacing-s;
    }
    .navbar-nav {
      text-align: center;
      display: flex;
      li {
        flex: 1;
      }
      a {
        display: block;
        padding: 12px;
      }
      .nav-products {
        background-color: $primary-200;
      }
      .nav-story {
        background-color: $primary-100;
      }
    }
  }
  @media (min-width: 768px) {
    .navbar-desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: $spacing-m;
      padding-bottom: $spacing-m;
      .navbar {
        display: flex;
        align-items: center;
        gap: $spacing-3xl;
      }
      .navbar-nav {
        display: flex;
        align-items: center;
        gap: $spacing-2xl;
      }
    }
    .navbar-mobile {
      display: none;
    }
  }
}
