.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navbar {
    display: flex;
    align-items: center;
    gap: 48px;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  a {
    color: $neutral-900;
  }
  .icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 24px;
    }
  }
}
