* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: $neutral-900;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

a {
  text-decoration: none;
}

picture {
  max-width: 100%;
  height: auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-primary {
  color: $neutral-900;
}
.text-secondary {
  color: $neutral-600;
}
.text-muted {
  color: $neutral-500;
}
.text-highlight {
  color: $primary-400;
}
.text-on-dark {
  color: $neutral;
}
