* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: $neutral-900;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
}

a {
  display: inline-block;
  text-decoration: none;
}

picture {
  max-width: 100%;
  height: auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.text-primary {
  color: $neutral-900;
}
.text-secondary {
  color: $neutral-600;
}
.text-muted {
  color: $neutral-500;
}
.text-highlight {
  color: $primary-400;
}
.text-on-dark {
  color: $neutral;
}

.display-1 {
  font-weight: 700;
  font-size: $spacing-5xl;
  line-height: 1.2;
}
.display-2 {
  font-weight: 700;
  font-size: $spacing-3xl;
  line-height: 1.2;
}
.fs-1 {
  font-size: $spacing-3xl;
}
.fs-2 {
  font-size: $spacing-xl;
}
.fs-3 {
  font-size: 28px;
}
.fs-4 {
  font-size: $spacing-l;
}
.fs-5 {
  font-size: 20px;
}
.fs-6 {
  font-size: $spacing-m;
}
.label-lg {
  font-weight: 500;
  font-size: 20px;
}
.label-md {
  font-weight: 500;
  font-size: $spacing-m;
}
.label-sm {
  font-weight: 500;
  font-size: 14px;
}
.label-xs {
  font-weight: 500;
  font-size: $spacing-s;
}
