@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "reset.scss";

@import "variables";

@import "base.scss";

@import "./layout/header.scss";

@import "./components/buttons";

@import "./views/index-page.scss";
